<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header><title>Hello</title></header>
    <body>
    <h2>Spring Boot - Postgres - Demo</h2>
    <h3>The last description will be saved into Postgres and shown as Title</h3>
    <p style="color:blue">
        Version 1.0 is blue.
    </p>
        <tr th:if="${description == null}">
            <div>No description saved</div>
        </tr>
        <tr th:if="${description != null}">
            <div th:text="${description}"></div>
        </tr>

        <form method="post" action="/save" class="form-actions">
            <input type="text" name="description" />
            <input type="submit" value="Save Description" />
        </form>
    </body>
</html>